<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson8_HomeWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson8_HomeWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Lesson8_HomeWork.Properties.Settings>
            <setting name="sHello" serializeAs="String">
                <value>Hello! I am very glad to see you!</value>
            </setting>
        </Lesson8_HomeWork.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Lesson8_HomeWork.Properties.Settings>
            <setting name="_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="_userAge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_userActivity" serializeAs="String">
                <value />
            </setting>
        </Lesson8_HomeWork.Properties.Settings>
    </userSettings>
</configuration>